.td-comment{
  padding: 2px 5px 2px 2px;
}

.td-definition{
  width: 20%;
}

.td-text{
  font-size: 13pt;
  padding: 5px;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #f0f3f5;
}

.textarea-comment{
  position: relative;
}

.btn-edit-comment {
  padding: 2px 5px;
  color: white;
  font-size: 12px;
  position: absolute;
  top: 0px;
  right: 0px;
}
